

<mat-sidenav-container class="sidenav-container">
    <!-- Poner "openeed dentro del mat-sidenav para poder dejarla abierta siempre" -->
    <mat-sidenav
      #drawer
      class="sidenav color-primario "
      style="width: 300px; padding: 5px; "
      [ngClass]="navbarColor"
      #sidenav>
        <mat-toolbar class="color-primario toolbar-1 "  [ngClass]="navbarColor">
            <div class="toolbar-2"  [ngClass]="navbarColor"
        >
            <img
            src="/icono.png"
            alt="icon-app-logo"
            style="opacity: 0.8; width: 80px"
            />
        </div>
    
    
    
    
    
        </mat-toolbar>
        <div class="user-panel "  [ngClass]="navbarColor">

            <div class="info-user">
            <a class="text-user-name"></a>
            </div>
        </div>

        <mat-nav-list>
        <div class="container-fields-2 "  [ngClass]="navbarColor">
          @for (field of fields; track $index) {
          <div class="button-fields underline-animation">
            <div class="icon-field">
              <mat-icon>{{ field.icon }}</mat-icon>
            </div>
            <div class="icon-label">
              <label>{{ field.textUS }}</label>
            </div>
          </div>
          }
        </div>
        </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content class="parent-sticky">
      <mat-toolbar class="container-toolbar toolbar-principal"  [ngClass]="navbarColor">
  
        <div class="container-menu">
          <button
            type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            (click)="drawer.toggle()"
          >
            <mat-icon aria-label="Side nav toggle icon" style="color: white;">menu</mat-icon>
          </button>
        </div>
        <div class="container-icon">
          <img
            src="/icono.png"
            class="img-icon-personal"
            alt="img-source"
          />
          <!-- <div>
            <p class="title-icon">
              {{titleIcon}}
            </p>
          </div> -->
        </div>
  
        <div class="container-fields ">
          @for (field of fields; track $index) {
          <div class="button-fields underline-animation">
            <div class="icon-field">
              <mat-icon>{{ field.icon }}</mat-icon>
            </div>
            <div class="icon-label">
              <label>{{ field.textUS }}</label>
            </div>
          </div>
          }
        </div>
  
        <div class="container-buttons">
          <div class="container-changelang bg-blue-black ">
            <button
              _ngcontent-ng-c304931543=""
              role="button"
              aria-label="Cambiar idioma"
              type="button"
              data-dropdown-toggle="language-dropdown-menu"
              class="inline-flex items-center font-medium justify-center px-4 py-2 text-sm text-white dark:text-gray-900 rounded-lg cursor-pointer"
            >
              <svg
                _ngcontent-ng-c304931543=""
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 3 2"
                class="w-5 h-5 rounded-full me-3 "
              >
                <rect
                  _ngcontent-ng-c304931543=""
                  width="1"
                  height="2"
                  fill="#006847"
                ></rect>
                <rect
                  _ngcontent-ng-c304931543=""
                  x="1"
                  width="1"
                  height="2"
                  fill="#FFFFFF"
                ></rect>
                <rect
                  _ngcontent-ng-c304931543=""
                  x="2"
                  width="1"
                  height="2"
                  fill="#CE1126"
                ></rect>
                <circle
                  _ngcontent-ng-c304931543=""
                  cx="1.5"
                  cy="1"
                  r="0.25"
                  fill="#006847"
                ></circle>
              </svg>
              <span class="text-bandera">Español (MX)</span>
              <!----><!---->
            </button>
          </div>
  
        </div>
      </mat-toolbar>

      <div class="main-container">
        <app-about-me id="section0"  ></app-about-me>

        <app-current-projects class="mt-20" id="section1" />

        <app-me-abilities id="section2"/>

        <div class="container" id="section3"></div>

      </div>



    </mat-sidenav-content>
  
  
  </mat-sidenav-container>

  