<div class=" container-abilites" id="abilites-container">
    <div class="text-center  aos-init aos-animate">
      <span class="title text-center pgray">Abilites.</span>
    </div>
    <hr
      width="100%"
      class="pgray"
      style="display: flex; justify-content: center; align-items: center"
    />
    <br />
    <div class="row">
      <div
        class="col-xl-4 col-bg-4 col-md-4 col-sm-12 text-center pb-5 px-4 aos-init aos-animate"
        style="transition-delay: 0s"
      >
        <div class="bg-div">
          <img class="img-cards-habilites" src="/assets/programacion.png" alt="" />
        </div>
        <div class="title2 pt-2">Programming Languages</div>
        <hr width="100%" class="pgray" />
        <div class="btn-cards">
          <button class="btn btn-cards-item">C#</button>
          <button class="btn btn-cards-item">JavaScript</button>
          <button class="btn btn-cards-item">PHP</button>
        </div>
      </div>
      <div
        class="col-xl-4 col-bg-4 col-md-4 col-sm-12 text-center pb-5 px-4 aos-init aos-animate"
        style="transition-delay: 0.238095s"
      >
        <div class="bg-div">
          <img class="img-cards-habilites" src="/assets/ux.png" alt="" />
        </div>
        <div class="title2 pt-2">Front-end</div>
        <hr width="100%" class="pgray" />
  
        <div class="btn-cards">
          <button class="btn btn-cards-item">HTML5</button>
          <button class="btn btn-cards-item">CSS3</button>
          <button class="btn btn-cards-item">Bootstrap</button>
          <button class="btn btn-cards-item">Angula rMaterial</button>
          <button class="btn btn-cards-item">Tailwind</button>

        </div>
      </div>
      <div
        class="col-xl-4 col-bg-4 col-md-4 col-sm-12 text-center pb-5 px-4 aos-init aos-animate"
        style="transition-delay: 0.47619s"
      >
        <div class="bg-div">
          <img class="img-cards-habilites" src="/assets/framework.png" alt="" />
        </div>
        <div class="title2 pt-2">Frameworks</div>
        <hr width="100%" class="pgray" />
        <div class="btn-cards">
          <button class="btn btn-cards-item">Angular 18</button>
          <button class="btn btn-cards-item">Ionic 7</button>
          <button class="btn btn-cards-item">.Net 8</button>
          <button class="btn btn-cards-item">Laravel 11</button>
          <button class="btn btn-cards-item">NestJS</button>
          <button class="btn btn-cards-item">TypeScript</button>
        </div>
      </div>
      <div
        class="col-xl-4 col-bg-4 col-md-4 col-sm-12 text-center pb-5 px-4 aos-init aos-animate"
        style="transition-delay: 0.714286s"
      >
        <div class="bg-div">
          <img class="img-cards-habilites" src="/assets/db.png" alt="" />
        </div>
        <div class="title2 pt-2">Databases</div>
        <hr width="100%" class="pgray" />
        <div class="btn-cards">
          <button class="btn btn-cards-item">MySQL</button>
          <button class="btn btn-cards-item">SQL Server</button>
        </div>
      </div>
      <div
        class="col-xl-4 col-bg-4 col-md-4 col-sm-12 text-center pb-5 px-4 aos-init aos-animate"
        style="transition-delay: 0.952381s"
      >
        <div class="bg-div">
          <img
            class="img-cards-habilites"
            src="/assets/sistema-operativo.png"
            alt=""
          />
        </div>
        <div class="title2 pt-2">Development Tools</div>
        <hr width="100%" class="pgray" />
        <div class="btn-cards">
          <button class="btn btn-cards-item">Git</button>
          <button class="btn btn-cards-item">Postman</button>
          <button class="btn btn-cards-item">Docker</button>
          <button class="btn btn-cards-item">GNU/Linux</button>
        </div>
      </div>
      <div
        class="col-xl-4 col-bg-4 col-md-4 col-sm-12 text-center pb-5 px-4 aos-init aos-animate"
        style="transition-delay: 0.952381s"
      >
        <div class="bg-div">
          <img class="img-cards-habilites" src="/assets/cpu.png" alt="" />
        </div>
        <div class="title2 pt-2">Electronic</div>
        <hr width="100%" class="pgray" />
        <div class="btn-cards">
          <button class="btn btn-cards-item">Arduino</button>
          <button class="btn btn-cards-item">STM-32</button>
          <button class="btn btn-cards-item">Raspberry Pi</button>
        </div>
      </div>
    </div>
  </div>
  