/* You can add global styles to this file, and also import other style files */
/* TAILWIND */
@tailwind base;
@tailwind components;
@tailwind utilities;



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.bg-blue-black {
  /* background-color: rgb(9, 34, 83); */
  background-color: rgb(6, 21, 48) !important;
}
/*     background-color: rgba(22, 80, 196, 0.623);
 */
.bg-blue-light {
  background-color: rgba(22, 80, 196, 0.623);
}

/* Importar estilos */

@font-face {
  font-family: code-light;
  src: url(/public/fonts/code/CODE\ Light.otf) format("opentype");
}

/* *{
  background-color: rgb(6, 21, 48);
} */

.scroll-suave{
  scroll-behavior: smooth; /* Habilita el desplazamiento suave */

}

/* Estilos para el scroll */
/* Estilos generales para la barra de desplazamiento en todo el sitio */
::-webkit-scrollbar {
  width: 6px; /* Ancho de la barra vertical */
  height: 6px; /* Ancho de la barra horizontal (para desplazamiento horizontal) */
}

/* Estilo del "track" de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background: rgb(165, 165, 165); /* Color del fondo de la barra */
  border-radius: 10px;
}

/* Estilo de la barra de desplazamiento (scroll thumb) */
::-webkit-scrollbar-thumb {
  background: rgb(6, 21, 48); /* Color de la barra */
  border-radius: 10px;
}

/* Cambia el color de la barra al hacer hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(6, 21, 48, 0.836); /* Color de la barra al pasar el cursor */
}


.text-bandera{
  color: white !important;
}
/* styles.css */

.section-blue {
  background-color: blue;
}

.section-white {
  background-color: white;
}

.navbar-blue {
  background-color: blue;
}

.navbar-white {
  background-color: white;
}
